.color-green {
    background-color: #53cb69;
    border: none;
}

/* .horse-img {
    height: 30vh;
    width: 30vw;
} */

.horse-background {
    background-image: url('https://cdn.dribbble.com/userupload/3740395/file/original-c641977a8e91174803dca763474c4fe7.png?compress=1&resize=1504x1128');
    background-size: cover;
    height: 70vh;
    background-position: 10% 60%;
    /* align-items: end; */
}

.working {
    background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    height: 45vh;

}

.buildings {
    background-image: url(https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    height: 45vh;
}

.plants {
    background-image: url(https://images.unsplash.com/photo-1604845152150-79d128ac8817?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    height: 45vh;
}